.APcalnedarTable tbody tr.APcalendarTr td{
	
	width:60px !important;
	height:70px !important;
	text-align:center !important;
	border-left:1px solid #d7d7d7 !important;
	border-top:1px solid #d7d7d7 !important;
	padding:4px !important;
        vertical-align:top;
}

.APcalendarOuterDiv{
	font-size:12px !important;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
	line-height:18px !important;
}
  
   
.APcalendarSlotsLeftDiv span{
	font-size:10px;
    
}
   .APCalendarTime{
	   border: 1px solid green !important;
    bottom: 30px !important;
    height: 15px !important;
    padding: 2px !important;
    position: relative !important;
   }
   
 .APcalendarSlotsLeftDiv span.APcalendarTime{
color:black;
 }
   
   .APcalendarHeader{
    cursor:default !important;
	
	background: -moz-linear-gradient(top, #336699, #6296ca) ;
	background: -webkit-gradient(linear, left top, left bottom, from(#336699), to(#6296ca)) ;
	height:34px !important;
	background-color: #6296ca !important ;
	color:#fff !important;
	font-weight:bold !important;
	font-size:12px !important;
	text-shadow:0px -1px 0 #87260c !important;
	text-transform: uppercase !important;
        
        text-align: center;
   }
   .APcalendarNone{
    width:60px !important;
    height:70px !important;
	background:#dadada url(Skins/@{theme}/images/not_available.png) repeat !important;
        color:gray !important;
   }
   .APcalendarNone:hover{
        width:60px !important;
    	height:70px !important;
     	cursor:not-allowed !important;
   }
   
   .APcalendarAM
   {
	  width:60px !important;
    height:70px !important;
     background:#6296ca !important;
	color:#ffffff !important;
	box-shadow:1px 1px 0px #5581ae inset !important;
	-moz-box-shadow:1px 1px 0px #5581ae inset !important;
	-webkit-box-shadow:1px 1px 0px #5581ae inset !important;
   }
   
   .APcalendarAM:hover
   {
     width:60px !important;
    height:70px !important;
    cursor:pointer !important;
-webkit-box-shadow: 0px 0px 3px rgba(134, 134, 134, 0.75) !important;
-moz-box-shadow:    0px 0px 3px rgba(134, 134, 134, 0.75) !important;
box-shadow:         0px 0px 3px rgba(134, 134, 134, 0.75) !important;
   }
   
   .APcalendarALL{
    background:#ffffAA !important;
	color:#8c8c8c8 !important;
	box-shadow:1px 1px 0px #f3f3f3 inset !important;
	-moz-box-shadow:1px 1px 0px #f3f3f3 inset !important;
	-webkit-box-shadow:1px 1px 0px #f3f3f3 inset !important;
   }
  

   .APcalendarALL:hover{
    width:60px !important;
    height:70px !important;
    cursor:pointer !important;
        -webkit-box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.75) !important;
        -moz-box-shadow:    0px 0px 5px rgba(134, 134, 134, 0.75) !important;
        box-shadow:         0px 0px 5px rgba(134, 134, 134, 0.75) !important;
   }
   
   .APcalendarPM{
    background:#339977 !important;
	color:#ffffff !important;
	box-shadow:1px 1px 0px #2c8467 inset !important;
	-moz-box-shadow:1px 1px 0px #2c8467 inset !important;
	-webkit-box-shadow:1px 1px 0px #2c8467 inset !important;
   }
   .APcalendarPM:hover{
    width:60px !important;
    height:70px !important;
    cursor:pointer !important;
-webkit-box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.75) !important;
-moz-box-shadow:    0px 0px 5px rgba(134, 134, 134, 0.75) !important;
box-shadow:         0px 0px 5px rgba(134, 134, 134, 0.75) !important;
   }
   .APCalendarNumber{
       position:relative !important;float:left !important; top:10px !important;left:36% !important;font-weight:bold !important; font-size:14px !important;width:20px !important; color:#444444 !important;
   }
   .APcalnedarTable{
       width:455px !important;
       box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25) !important;
    display: table !important;
    font: 15px/1.5 "Helvetica Neue",Helvetica,Arial,san-serif !important;
    
   }
   
   .APcalendarBottomTextDiv{
       float:right;
       font-size:10px;
   }
   
   
   
   .APcalendarOuterDiv{
       margin-right:10px !important;
       margin-bottom:10px !important;
       
   }
  
  tr.APcalendarTr{
	  border-top:1px solid #acacac !important;
          height:71px;
  }
  
  div.dataTables_wrapper{
      background:none;
      }
      
      /*
 * Sort arrow icon positioning
 */
div.dataTables_wrapper thead th div.DataTables_sort_wrapper {
    position: relative;
    padding-right: 20px;
    padding-right: 20px;
   left:100px;
}
 
div.dataTables_wrapper thead th div.DataTables_sort_wrapper span {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0;
       left:100px;
}

@charset "UTF-8";
/* CSS Document */
.tabs2 { list-style: none; }
.tabs2 li { display: inline; }
.tabs2 li a {  
	float: left; 
	display: block; 
	padding: 4px 28px; 
	margin-left: -1px; 
	position: relative; 
	left: 1px; 
	text-decoration: none;
	background: #6296ca;
	background: -moz-linear-gradient(top, #336699, #6296ca);
	background: -webkit-gradient(linear, left top, left bottom, from(#336699), to(#6296ca));
	height:20px;
	color:#fff;
	font-weight:normal;
	font-size:13px;
	font-weight:bold;
}

.tabs2 li a.active_tab_st{
	background:#f7f7f7;;
	border-bottom:1px solid #f7f7f7;
	color:#336699;
	height: 20px;
    z-index: 2;
	font-weight:bold;
}

.tabs2 li a.active_tab_st:hover{
	background:#f7f7f7;;
	border-bottom:1px solid #f7f7f7;
	color:#6296ca;
}

.tabs2 li a:hover { 
	background: #336699;
	background: -moz-linear-gradient(top, #6296ca, #336699);
	background: -webkit-gradient(linear, left top, left bottom, from(#6296ca), to(#336699));
}

.group2:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.box-wrap { position: relative; min-height: 150px; width:440px;}
.tabbed-area div div {  background:#f7f7f7;  padding: 20px; min-height: 100px; position: absolute; top: -1px; left: 0; width:372px; height:200px; }
.tabbed-area div div, .tabs2 li a { border:1px solid #d7d7d7;}

#box1:target, #box2:target, #box3:target {
  z-index: 1;
  height:205px;
    
}

#box-four:target a[href="#box-four"] { color: red; }

.tabbed-area{
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size:13px;
	width:430px;
	height:280px;
}

.tabbed-area ul.tabs2{
	margin:0px;
	padding:0px;
}

form.st, legend.st, input.st, fieldset.st{
	color:#666666;
}

.st legend{
	color:#6296ca;
	font-weight:bold;
}
.blue_tab{

background: #6296CA;
height: 20px;
color: white;
font-weight: normal;
font-size: 13px;
font-weight: bold;
}

.APcalendarFull{
    background:#ff5656 !important;
	color:#8c8c8c8 !important;
	box-shadow:1px 1px 0px #f3f3f3 inset !important;
	-moz-box-shadow:1px 1px 0px #f3f3f3 inset !important;
	-webkit-box-shadow:1px 1px 0px #f3f3f3 inset !important;
   }
  

   .APcalendarFull:hover{
    
    cursor:pointer !important;
        -webkit-box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.75) !important;
        -moz-box-shadow:    0px 0px 5px rgba(134, 134, 134, 0.75) !important;
        box-shadow:         0px 0px 5px rgba(134, 134, 134, 0.75) !important;
   }
   
   
   .diaryDataTable a{
       font-size:10px !important;
       text-transform: uppercase !important;
       }
       .diaryDataTable {
       font-size:10px !important;
       text-transform: uppercase !important;
       }
       
   .commandDiv{
       box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25) !important;
       }
       
       .APcalendarSelected
   {
	  width:60px !important;
    height:70px !important;
     background:#6296ca !important;
	color:#ffffff !important;
	box-shadow:1px 1px 0px #5581ae inset !important;
	-moz-box-shadow:1px 1px 0px #5581ae inset !important;
	-webkit-box-shadow:1px 1px 0px #5581ae inset !important;
   }
   .tooltipWallboardTD
   {
      border-left:1px solid black; 
      border-top:1px solid black; 
      background:none !important;
      text-align: center !important;
   
      
   }
   
   .multimapstyle{
       padding:0 !important;
       
       }
   
   
